# Data Science Tools and Ecosystem

This assignment is a demonstration of my knowledge of basic programming and data science tools.

## Data Science Languages 
- python 
- R 
- SQL

## Data Science Libraries 
- Pandas 
- NumPy
- Matpotlib

## Data Science Tools 
|Open Source|Commercial|Cloud| 
|-----------|------------|-----|
|Jupyter|tableau|IBM Watson Studio|
|R Studio|SPSS|Azure Machine Learning|

The following cell demonstrates a basic arithmetic expression

In [1]:
(5*8)/4

10.0

In [3]:
# This shows how to convert minutes to hours 
minutes_to_hour = 60 
180/minutes_to_hour

3.0

### Course Objectives 
- learning popular languages in Data Science 
- an introduction to basic programming
- becoming familiar with Data Science tools that are available

## Madeline Corbett 
Author